# Seção Limpeza de Dados

#Importação das bibliotecas.

Se necessário adicionar alguma pode colocar aqui

In [83]:
import pandas as pd
import numpy as np

#Importação da base (Não mexe aqui ☣)

In [84]:
from google.colab import files
uploaded = files.upload()

Saving Filtragem_Transformada.csv to Filtragem_Transformada (3).csv

# Visualização da Base Crua

In [85]:
df = pd.read_csv('Filtragem_Transformada.csv')
df

,Id,Idade,Faixa idade,Gênero,Cor/raca/etnia,PCD,Vive no Brasil,Estado onde mora,UF onde mora,Região onde Mora,...,Setor,Numero de Funcionários,Cargo Atual,Nível,Faixa salarial,Quanto tempo de experiência na área de dados você tem?,Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?,Qual o número aproximado de pessoas que atuam com dados na sua empresa hoje?,Cientista de Dados/Data Scientist,Existe faculdade no Estado
0,001b2d1qtli8t9z7oqgdhj001b2d4i0g,31,30-34,Masculino,Branca,Não,1,Minas Gerais (MG),MG,Sudeste,...,Finanças ou Bancos,Acima de 3.000,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,NaN,NaN,1
1,0026aa3fwd78u0026asg7456tfkjg2cs,30,30-34,Masculino,Branca,Não,1,Espírito Santo (ES),ES,Sudeste,...,Finanças ou Bancos,de 101 a 500,Analista de BI/BI Analyst,Pleno,de R$ 6.001/mês a R$ 8.000/mês,de 3 a 4 anos,de 3 a 4 anos,NaN,NaN,0
2,00r21rb9pusd1b0v7ew00r21rw3dy69w,37,35-39,Feminino,Amarela,Não,1,São Paulo (SP),SP,Sudeste,...,Finanças ou Bancos,Acima de 3.000,Analista de Dados/Data Analyst,Júnior,de R$ 6.001/mês a R$ 8.000/mês,de 1 a 2 anos,Menos de 1 ano,NaN,NaN,1
3,00urm3jf2cek12w6ygue00urm3jzd17j,22,22-24,Masculino,Preta,Não,1,São Paulo (SP),SP,Sudeste,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,00v0az4g792svil00vn6y1kfm9hq8vy9,34,30-34,Masculino,Branca,Não,1,Minas Gerais (MG),MG,Sudeste,...,Outra Opção,de 101 a 500,Analista de Dados/Data Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês,Menos de 1 ano,Menos de 1 ano,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5288,zyg9519671iqrgy93qzyg95183k8ix5f,34,30-34,Masculino,Preta,Não,1,Minas Gerais (MG),MG,Sudeste,...,Tecnologia/Fábrica de Software,de 501 a 1.000,NaN,NaN,de R$ 20.001/mês a R$ 25.000/mês,de 7 a 10 anos,Mais de 10 anos,Acima de 300 pessoas,1.0,1
5289,zyppgxzxko25qkgwsbrgpzyppgxzxs81,32,30-34,Masculino,Branca,Não,1,Rio Grande do Norte (RN),RN,Nordeste,...,Outra Opção,Acima de 3.000,Engenheiro de Machine Learning/ML Engineer/AI ...,Pleno,de R$ 8.001/mês a R$ 12.000/mês,de 4 a 6 anos,Não tive experiência na área de TI/Engenharia ...,NaN,NaN,0
5290,zysl5f50cnz3r0cbe6t2zysrxbzfsrng,25,25-29,Masculino,Branca,Não,1,São Paulo (SP),SP,Sudeste,...,Finanças ou Bancos,Acima de 3.000,Analista de Negócios/Business Analyst,Sênior,de R$ 8.001/mês a R$ 12.000/mês,de 1 a 2 anos,de 3 a 4 anos,NaN,NaN,1
5291,zyt2656c9e1becxp457zyt26566dsng8,31,30-34,Masculino,Parda,Não,1,São Paulo (SP),SP,Sudeste,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
5292,zzvyz3z5jy2lzzvyziv62lvtjrab9r5x,31,30-34,Masculino,Amarela,Não,1,São Paulo (SP),SP,Sudeste,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [86]:
df.dtypes

Id                                                                                                                            object
Idade                                                                                                                          int64
Faixa idade                                                                                                                   object
Gênero                                                                                                                        object
Cor/raca/etnia                                                                                                                object
PCD                                                                                                                           object
Vive no Brasil                                                                                                                object
Estado onde mora                                                                                                              object
UF onde mora                                                                                                                  object
Região onde Mora                                                                                                              object
Nível de Ensino                                                                                                               object
Área de Formação                                                                                                              object
Qual sua situação atual de trabalho?                                                                                          object
Setor                                                                                                                         object
Numero de Funcionários                                                                                                        object
Cargo Atual                                                                                                                   object
Nível                                                                                                                         object
Faixa salarial                                                                                                                object
Quanto tempo de experiência na área de dados você tem?                                                                        object
Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?     object
Qual o número aproximado de pessoas que atuam com dados na sua empresa hoje?                                                  object
Cientista de Dados/Data Scientist                                                                                            float64
Existe faculdade no Estado                                                                                                     int64
dtype: object

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5293 entries, 0 to 5292
Data columns (total 23 columns):
 #   Column                                                                                                                     Non-Null Count  Dtype
---  ------                                                                                                                     --------------  -----
 0   Id                                                                                                                         5293 non-null   object
 1   Idade                                                                                                                      5293 non-null   int64
 2   Faixa idade                                                                                                                5293 non-null   object
 3   Gênero                                                                                                                     5293 non-null   object
 4   Cor/raca/etnia                                                                                                             5293 non-null   object
 5   PCD                                                                                                                        5293 non-null   object
 6   Vive no Brasil                                                                                                             5293 non-null   object
 7   Estado onde mora                                                                                                           5172 non-null   object
 8   UF onde mora                                                                                                               5169 non-null   object
 9   Região onde Mora                                                                                                           5169 non-null   object
 10  Nível de Ensino                                                                                                            5293 non-null   object
 11  Área de Formação                                                                                                           5180 non-null   object
 12  Qual sua situação atual de trabalho?                                                                                       5293 non-null   object
 13  Setor                                                                                                                      4753 non-null   object
 14  Numero de Funcionários                                                                                                     4753 non-null   object
 15  Cargo Atual                                                                                                                3857 non-null   object
 16  Nível                                                                                                                      3857 non-null   object
 17  Faixa salarial                                                                                                             4753 non-null   object
 18  Quanto tempo de experiência na área de dados você tem?                                                                     4753 non-null   object
 19  Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?  4753 non-null   object
 20  Qual o número aproximado de pessoas que atuam com dados na sua empresa hoje?                                               896 non-null    object
 21  Cientista de Dados/Data Scientist                                                                                          859 non-null    float64
 22  Existe faculdade no Estado                                                                                                 5293 non-null   int64
dtypes: float64(1), int64(2), object(20)
memory usage: 951.2+ KB

In [88]:
df.describe()

,Idade,Cientista de Dados/Data Scientist,Existe faculdade no Estado
count,5293.000000,859.000000,5293.000000
mean,31.997166,0.623981,0.532590
std,7.623498,0.484667,0.498984
min,18.000000,0.000000,0.000000
25%,27.000000,0.000000,0.000000
50%,30.000000,1.000000,1.000000
75%,36.000000,1.000000,1.000000
max,73.000000,1.000000,1.000000

# Verificação, Transormação e limpeza da base

## Transformação de Sim e Nãos para 1s e 0s

In [89]:
df['PCD'] = df['PCD'].replace('Prefiro não informar', 'Não')
df['PCD'] = df['PCD'].replace('Não', 0)
df['PCD'] = df['PCD'].replace('Sim', 1)
print(df['PCD'][0:60])

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    1
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    0
39    0
40    0
41    0
42    0
43    0
44    0
45    0
46    0
47    0
48    0
49    0
50    0
51    0
52    0
53    0
54    0
55    0
56    0
57    0
58    0
59    0
Name: PCD, dtype: int64

<ipython-input-89-33b59a6e1071>:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['PCD'] = df['PCD'].replace('Sim', 1)

##Remoção da coluna errada de cientistas de dados

In [90]:
df = df.drop('Cientista de Dados/Data Scientist', axis = 'columns')

##Verificando o número de nulos

In [91]:
for col in df.columns:
  nulos = df[col].isnull().sum()
  print(f'A coluna {col} tem {nulos} nulos')

A coluna Id tem 0 nulos
A coluna Idade tem 0 nulos
A coluna Faixa idade tem 0 nulos
A coluna Gênero tem 0 nulos
A coluna Cor/raca/etnia tem 0 nulos
A coluna PCD tem 0 nulos
A coluna Vive no Brasil tem 0 nulos
A coluna Estado onde mora tem 121 nulos
A coluna UF onde mora tem 124 nulos
A coluna Região onde Mora tem 124 nulos
A coluna Nível de Ensino tem 0 nulos
A coluna Área de Formação tem 113 nulos
A coluna Qual sua situação atual de trabalho? tem 0 nulos
A coluna Setor tem 540 nulos
A coluna Numero de Funcionários tem 540 nulos
A coluna Cargo Atual tem 1436 nulos
A coluna Nível tem 1436 nulos
A coluna Faixa salarial tem 540 nulos
A coluna Quanto tempo de experiência na área de dados você tem? tem 540 nulos
A coluna Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados? tem 540 nulos
A coluna Qual o número aproximado de pessoas que atuam com dados na sua empresa hoje? tem 4397 nulos
A coluna Existe faculdade no Estado tem 0 nulos

## Preenchendo o número aproximado de pessoas que atuam com dados na sua empresa com zero

In [92]:
df['Qual o número aproximado de pessoas que atuam com dados na sua empresa hoje?'] = df['Qual o número aproximado de pessoas que atuam com dados na sua empresa hoje?'].fillna(0)

## Removendo aqueles que não moram no Brasil

In [93]:
df = df[~(df['Vive no Brasil']=='Inválido')]
print(df['Vive no Brasil'][0:60])

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    1
30    1
31    1
32    1
33    1
34    1
35    1
36    1
37    1
38    1
39    1
40    1
41    1
42    1
43    1
44    1
45    1
46    1
47    1
48    1
49    1
51    1
52    1
53    1
54    1
55    1
56    1
57    1
58    1
59    1
60    1
Name: Vive no Brasil, dtype: object

In [94]:
df['Vive no Brasil'] = df['Vive no Brasil'].astype(int)

##Selecionando apenas as profissões com dados

In [95]:
df.dropna(inplace = True)
df.drop(df.loc[(df['Cargo Atual'] == 'Economista')].index, inplace=True)
df.drop(df.loc[(df['Cargo Atual'] == 'Analista de Negócios/Business Analyst')].index, inplace=True)
df.drop(df.loc[(df['Cargo Atual'] == 'Professor/Pesquisador')].index, inplace=True)
df.drop(df.loc[(df['Cargo Atual'] == 'Desenvolvedor/ Engenheiro de Software/ Analista de Sistemas')].index, inplace=True)
df.drop(df.loc[(df['Cargo Atual'] == 'Analytics Engineer')].index, inplace=True)
df.drop(df.loc[(df['Cargo Atual'] == 'Outras Engenharias (não inclui dev)')].index, inplace=True)
df.drop(df.loc[(df['Cargo Atual'] == 'Outra Opção')].index, inplace=True)
df.drop(df.loc[(df['Cargo Atual'] == 'Analista de Suporte/Analista Técnico')].index, inplace=True)

,Id,Idade,Faixa idade,Gênero,Cor/raca/etnia,PCD,Vive no Brasil,Estado onde mora,UF onde mora,Região onde Mora,...,Qual sua situação atual de trabalho?,Setor,Numero de Funcionários,Cargo Atual,Nível,Faixa salarial,Quanto tempo de experiência na área de dados você tem?,Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?,Qual o número aproximado de pessoas que atuam com dados na sua empresa hoje?,Existe faculdade no Estado
0,001b2d1qtli8t9z7oqgdhj001b2d4i0g,31,30-34,Masculino,Branca,0,1,Minas Gerais (MG),MG,Sudeste,...,Empregado (CLT),Finanças ou Bancos,Acima de 3.000,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,0,1
1,0026aa3fwd78u0026asg7456tfkjg2cs,30,30-34,Masculino,Branca,0,1,Espírito Santo (ES),ES,Sudeste,...,Empreendedor ou Empregado (CNPJ),Finanças ou Bancos,de 101 a 500,Analista de BI/BI Analyst,Pleno,de R$ 6.001/mês a R$ 8.000/mês,de 3 a 4 anos,de 3 a 4 anos,0,0
2,00r21rb9pusd1b0v7ew00r21rw3dy69w,37,35-39,Feminino,Amarela,0,1,São Paulo (SP),SP,Sudeste,...,Empregado (CLT),Finanças ou Bancos,Acima de 3.000,Analista de Dados/Data Analyst,Júnior,de R$ 6.001/mês a R$ 8.000/mês,de 1 a 2 anos,Menos de 1 ano,0,1
4,00v0az4g792svil00vn6y1kfm9hq8vy9,34,30-34,Masculino,Branca,0,1,Minas Gerais (MG),MG,Sudeste,...,Empreendedor ou Empregado (CNPJ),Outra Opção,de 101 a 500,Analista de Dados/Data Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês,Menos de 1 ano,Menos de 1 ano,0,1
5,015qqbrh4rr015qje9gvkbsb7ti1n5df,30,30-34,Masculino,Branca,0,1,Rio de Janeiro (RJ),RJ,Sudeste,...,Empreendedor ou Empregado (CNPJ),Tecnologia/Fábrica de Software,de 51 a 100,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 8.001/mês a R$ 12.000/mês,de 1 a 2 anos,Não tive experiência na área de TI/Engenharia ...,0,0
10,01zusm1faol2k2601zlthh05cj7iqyit,25,25-29,Masculino,Preta,1,1,Sergipe (SE),SE,Nordeste,...,Empregado (CLT),Setor Público,de 101 a 500,Analista de BI/BI Analyst,Júnior,de R$ 1.001/mês a R$ 2.000/mês,de 1 a 2 anos,de 5 a 6 anos,0,0
16,04b8mbh28y4r0z04b8f42bs4j4ma44pl,29,25-29,Feminino,Branca,0,1,Rio de Janeiro (RJ),RJ,Sudeste,...,Servidor Público,Setor Público,Acima de 3.000,Analista de Dados/Data Analyst,Pleno,de R$ 4.001/mês a R$ 6.000/mês,de 5 a 6 anos,Não tive experiência na área de TI/Engenharia ...,0,0
20,04qj1aoh18cgbwi04qj1aohkr325qe6z,35,35-39,Masculino,Parda,0,1,Paraíba (PB),PB,Nordeste,...,Empregado (CLT),Internet/Ecommerce,de 1.001 a 3.000,Engenheiro de Dados/Arquiteto de Dados/Data En...,Sênior,de R$ 12.001/mês a R$ 16.000/mês,de 5 a 6 anos,de 3 a 4 anos,0,1
21,04qmbrvl35x33l4prch04qmbr7a5ee5j,35,35-39,Masculino,Branca,0,1,São Paulo (SP),SP,Sudeste,...,Empregado (CLT),Internet/Ecommerce,Acima de 3.000,Engenheiro de Dados/Arquiteto de Dados/Data En...,Sênior,de R$ 12.001/mês a R$ 16.000/mês,de 7 a 10 anos,Não tive experiência na área de TI/Engenharia ...,0,1
22,04zjy2mj5qhb4d4uv04zjw3u7cxv87x7,29,25-29,Masculino,Branca,0,1,Paraná (PR),PR,Sul,...,Empreendedor ou Empregado (CNPJ),Área da Saúde,Acima de 3.000,Cientista de Dados/Data Scientist,Sênior,Acima de R$ 40.001/mês,de 5 a 6 anos,Menos de 1 ano,0,0
24,05edmndszxd75nu8o05edmnbiuloulj9,25,25-29,Feminino,Branca,0,1,São Paulo (SP),SP,Sudeste,...,Empregado (CLT),Setor Alimentício,Acima de 3.000,Engenheiro de Dados/Arquiteto de Dados/Data En...,Júnior,de R$ 6.001/mês a R$ 8.000/mês,de 1 a 2 anos,Menos de 1 ano,0,1
34,08f7gp5stfs0txz08fn357e56e1co6sj,23,22-24,Masculino,Amarela,0,1,São Paulo (SP),SP,Sudeste,...,Empregado (CLT),Marketing,Acima de 3.000,Cientista de Dados/Data Scientist,Pleno,de R$ 3.001/mês a R$ 4.000/mês,de 3 a 4 anos,Menos de 1 ano,0,1
35,091jp2ibksf49d1cgtz0091jp2bpsxzx,31,30-34,Masculino,Branca,0,1,São Paulo (SP),SP,Sudeste,...,Empregado (CLT),Área da Saúde,Acima de 3.000,Engenheiro de Dados/Arquiteto de Dados/Data En...,Sênior,de R$ 8.001/mês a R$ 12.000/mês,de 3 a 4 anos,de 7 a 10 anos,0,1
37,0aadbbqu8p2hf3a0aadbshkx5p9ty80m,36,35-39,Masculino,Branca,0,1,Santa Catarina (SC),SC,Sul,...,Empregado (CLT),Varejo,Acima de 3.000,Analista de Dados/Data Analyst,Pleno,de R$ 8.001/mês a R$ 12.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,0,0
38,0an4fvp64oeblyt70k00an4fvtn9vcle,29,25-29,Masculino,Branca,0,1,São Paulo (SP),SP,Sudeste,...,Empregado (CLT),Setor Alimentício,Acima de 3.000,Cientista de Dados/Data Scientist,Sênior,de R$ 16.001/mês a R$ 20.000/mês,de 7 a 10 anos,Menos de 1 ano,0,1
39,0autzixgz8xh4s7nwdw70autzmjayn79,38,35-39,Masculino,Branca,0,1,Paraná (PR),PR,Sul,...,Empregado (CLT),Indústria,Acima de 3.000,Analista de Dados/Data Analyst,Pleno,de R$ 4.001/mês a R$ 6.000/mês,Mais de 10 anos,Não tive experiência na área de TI/Engenharia ...,0,0
40,0ayla3c460hpsv520ayla3i1xyyhg350,23,22-24,Masculino,Branca,0,1,Rio Grande do Sul (RS),RS,Sul,...,Empreendedor ou Empregado (CNPJ),Entretenimento ou Esportes,de 101 a 500,Analista de Dados/Data Analyst,Pleno,de R$ 6.001/mês a R$ 8.000/mês,de 1 a 2 anos,Menos de 1 ano,0,0
41,0azf0jf1ydfqkp0azfxtfwkz1ph9k98y,27,25-29,Masculino,Branca,0,1,Pará (PA),PA,Norte,...,Empregado (CLT),Área de Consultoria,de 501 a 1.000,Analista de Dados/Data Analyst,Pleno,de R$ 6.001/mês a R$ 8.000/mês,de 1 a 2 anos,Não tive experiência na área de TI/Engenharia ...,0,0
42,0b3av6hp5sh4tl79rh0b3avpntmyuqiu,26,25-29,Masculino,Branca,0,1,São Paulo (SP),SP,Sudeste,...,Empregado (CLT),Finanças ou Bancos,Acima de 3.000,Cientista de Dados/Data Scientist,Sênior,de R$ 20.001/mês a R$ 25.000/mês,de 4 a 6 anos,Não tive experiência na área de TI/Engenharia ...,0,1
43,0b8rbnxgqxk8fio2z4k0b8syvfnu6uyz,30,30-34,Masculino,Parda,0,1,Rio de Janeiro (RJ),RJ,Sudeste,...,Empregado (CLT),Tecnologia/Fábrica de Software,de 1.001 a 3.000,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 8.001/mês a R$ 12.000/mês,de 4 a 6 anos,Menos de 1 ano,0,0
44,0b9sb2w74o4h0f42j0b9sbk83r3d01j0,26,25-29,Feminino,Branca,0,1,Paraná (PR),PR,Sul,...,Empregado (CLT),Setor Alimentício,Acima de 3.000,Analista de BI/BI Analyst,Júnior,de R$ 3.001/mês a R$ 4.000/mês,de 1 a 2 anos,Não tive experiência na área de TI/Engenharia ...,0,0
45,0baz3khrxi0sei0bazgztvrrugudi1wd,50,50-54,Feminino,Parda,0,1,São Paulo (SP),SP,Sudeste,...,Servidor Público,Educação,de 501 a 1.000,Estatístico,Pleno,de R$ 8.001/mês a R$ 12.000/mês,Mais de 10 anos,Menos de 1 ano,0,1
47,0beob0vw5kuacjool0w0beobkbzsh06f,22,22-24,Masculino,Branca,0,1,São Paulo (SP),SP,Sudeste,...,Empregado (CLT),Varejo,de 1.001 a 3.000,Analista de Dados/Data Analyst,Pleno,de R$ 6.001/mês a R$ 8.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,0,1
48,0bj58kvonhsptf90bj5ldaxfkdm013kt,39,35-39,Masculino,Parda,0,1,Goiás (GO),GO,Centro-oeste,...,Empregado (CLT),Varejo,Acima de 3.000,Analista de BI/BI Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês,de 1 a 2 anos,Não tive experiência na área de TI/Engenharia ...,0,0
49,0bulrqnzwpth2g6rcf0bulrqr6hfwmhx,34,30-34,Feminino,Branca,0,1,Pernambuco (PE),PE,Nordeste,...,Empregado (CLT),Varejo,Acima de 3.000,Engenheiro de Dados/Arquiteto de Dados/Data En...,Sênior,de R$ 12.001/mês a R$ 16.000/mês,de 7 a 10 anos,de 1 a 2 anos,0,0
53,0ddxnylpynv0fgc72nuiy0ddx2np8hvc,26,25-29,Feminino,Branca,0,1,Paraná (PR),PR,Sul,...,Empregado (CLT),Varejo,Acima de 3.000,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 6.001/mês a R$ 8.000/mês,de 1 a 2 anos,Menos de 1 ano,0,0
54,0dkjjbum7c9eeyyr0dkjusywtxxirtxf,27,25-29,Masculino,Preta,0,1,Pernambuco (PE),PE,Nordeste,...,Vivo no Brasil e trabalho remoto para empresa ...,Finanças ou Bancos,de 101 a 500,Engenheiro de Dados/Arquiteto de Dados/Data En...,Sênior,de R$ 20.001/mês a R$ 25.000/mês,de 5 a 6 anos,Não tive experiência na área de TI/Engenharia ...,0,0
55,0dmgnvaor1n4kwg0dofeq0cvtz9wszxp,27,25-29,Masculino,Branca,0,1,São Paulo (SP),SP,Sudeste,...,Estagiário,Finanças ou Bancos,Acima de 3.000,Cientista de Dados/Data Scientist,Júnior,de R$ 3.001/mês a R$ 4.000/mês,Menos de 1 ano,de 1 a 2 anos,0,1
56,0dqlwrfgpu6hl40dq03c11aoxyrkddtt,24,22-24,Masculino,Branca,0,1,São Paulo (SP),SP,Sudeste,...,Estagiário,Área da Saúde,Acima de 3.000,Analista de BI/BI Analyst,Júnior,de R$ 2.001/mês a R$ 3.000/mês,de 1 a 2 anos,de 1 a 2 anos,0,1
57,0dverwvn6qvm84sj0dverwv1jhbj8uhf,22,22-24,Masculino,Branca,0,1,Minas Gerais (MG),MG,Sudeste,...,Estagiário,Finanças ou Bancos,de 101 a 500,Analista de Dados/Data Analyst,Júnior,de R$ 1.001/mês a R$ 2.000/mês,Menos de 1 ano,Menos de 1 ano,0,1
58,0e5jp063qgcme6ly0e5j1oqs6sdw53oi,29,25-29,Masculino,Preta,0,1,Espírito Santo (ES),ES,Sudeste,...,Empregado (CLT),Finanças ou Bancos,de 1.001 a 3.000,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 6.001/mês a R$ 8.000/mês,de 1 a 2 anos,Não tive experiência na área de TI/Engenharia ...,0,0
59,0e6w1fl8ezu3h7bnef0e6w1fl8ekby7x,32,30-34,Masculino,Branca,0,1,Rio Grande do Sul (RS),RS,Sul,...,Empregado (CLT),Finanças ou Bancos,Acima de 3.000,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês,de 3 a 4 anos,Mais de 10 anos,0,0
62,0etlg34j0c2aa5gxkx0etlgl5085l8cl,27,25-29,Masculino,Branca,0,1,Paraná (PR),PR,Sul,...,Estagiário,Setor Automotivo,Acima de 3.000,Cientista de Dados/Data Scientist,Júnior,de R$ 2.001/mês a R$ 3.000/mês,Menos de 1 ano,de 7 a 10 anos,0,0
65,0g42rq6g6p2q873xia8y0g42x4n8upzt,29,25-29,Masculino,Branca,0,1,Paraná (PR),PR,Sul,...,Empregado (CLT),Tecnologia/Fábrica de Software,de 101 a 500,Engenheiro de Dados/Arquiteto de Dados/Data En...,Sênior,de R$ 16.001/mês a R$ 20.000/mês,de 5 a 6 anos,Não tive experiência na área de TI/Engenharia ...,0,0
67,0ghkr6f66sdb6irt0c0ghk9s6mjqabxz,23,22-24,Masculino,Preta,0,1,Rio Grande do Sul (RS),RS,Sul,...,Empregado (CLT),Finanças ou Bancos,Acima de 3.000,Analista de Dados/Data Analyst,Pleno,de R$ 3.001/mês a R$ 4.000/mês,de 3 a 4 anos,de 1 a 2 anos,0,0
68,0gn3aonvi5bf7v0gditzg8sz142fxclo,26,25-29,Masculino,Branca,0,1,Mato Grosso (MT),MT,Centro-oeste,...,Empregado (CLT),Finanças ou Bancos,Acima de 3.000,Analista de BI/BI Analyst,Pleno,de R$ 4.001/mês a R$ 6.000/mês,de 1 a 2 anos,Menos de 1 ano,0,0
69,0gqoessq550geoi56otja8nxkzhl2yoe,33,30-34,Masculino,Amarela,0,1,São Paulo (SP),SP,Sudeste,...,Empregado (CLT),Finanças ou Bancos,de 501 a 1.000,Analista de Dados/Data Analyst,Sênior,de R$ 12.001/mês a R$ 16.000/mês,de 7 a 10 anos,Não tive experiência na área de TI/Engenharia ...,0,1
70,0gxlcto118vdsq0gxlcaonsk0utw8n0y,24,22-24,Masculino,Branca,0,1,Rio de Janeiro (RJ),RJ,Sudeste,...,Empregado (CLT),Outra Opção,de 501 a 1.000,Engenheiro de Dados/Arquiteto de Dados/Data En...,Sênior,de R$ 8.001/mês a R$ 12.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,0,0
72,0hc6qwa1z9mz3aeb0hc6qwn21gsvs4u3,28,25-29,Masculino,Branca,0,1,São Paulo (SP),SP,Sudeste,...,Empregado (CLT),Outra Opção,de 501 a 1.000,Engenheiro de Dados/Arquiteto de Dados/Data En...,Sênior,de R$ 12.001/mês a R$ 16.000/mês,de 4 a 6 anos,Não tive experiência na área de TI/Engenharia ...,0,1
73,0i6712vqjj653m0i670gfwnl6ta7qnic,37,35-39,Feminino,Branca,0,1,Rio Grande do Sul (RS),RS,Sul,...,Empregado (CLT),Indústria,Acima de 3.000,Engenheiro de Dados/Arquiteto de Dados/Data En...,Júnior,de R$ 4.001/mês a R$ 6.000/mês,de 1 a 2 anos,Mais de 10 anos,0,0
74,0id8eghh68cl1w98pk0id8ep67ng3t9n,33,30-34,Masculino,Branca,0,1,Paraná (PR),PR,Sul,...,Empreendedor ou Empregado (CNPJ),Indústria,de 501 a 1.000,Analista de BI/BI Analyst,Pleno,de R$ 6.001/mês a R$ 8.000/mês,de 4 a 6 anos,Menos de 1 ano,0,0
79,0jc0mij71evva7kn778bz30jc0mijucs,30,30-34,Feminino,Parda,0,1,São Paulo (SP),SP,Sudeste,...,Empregado (CLT),Indústria,Acima de 3.000,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês,de 4 a 6 anos,de 1 a 2 anos,0,1
81,0ji2x0gh9fnq4nuej0ji2xknk36lhorh,29,25-29,Masculino,Branca,0,1,Distrito Federal (DF),DF,Centro-oeste,...,Empregado (CLT),Tecnologia/Fábrica de Software,Acima de 3.000,Engenheiro de Dados/Arquiteto de Dados/Data En...,Sênior,de R$ 8.001/mês a R$ 12.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,0,0
83,0jk0bdnu7cufwadn0jk07nuti10opjh8,28,25-29,Masculino,Branca,0,1,Espírito Santo (ES),ES,Sudeste,...,Estagiário,Indústria,de 6 a 10,Analista de Dados/Data Analyst,Júnior,de R$ 1.001/mês a R$ 2.000/mês,Menos de 1 ano,Menos de 1 ano,0,0
84,0jlaefa4xwwgk5lfga7gsl0jlaefak5x,27,25-29,Masculino,Branca,0,1,Santa Catarina (SC),SC,Sul,...,Empregado (CLT),Finanças ou Bancos,de 501 a 1.000,Analista de Dados/Data Analyst,Sênior,de R$ 8.001/mês a R$ 12.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,0,0
85,0jqbuqvb3936balyvfenrstk0jqbuqvb,28,25-29,Masculino,Branca,0,1,Santa Catarina (SC),SC,Sul,...,Estagiário,Área de Consultoria,de 51 a 100,Cientista de Dados/Data Scientist,Júnior,Menos de R$ 1.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,0,0
90,0kyn7c4b5p4ud7arfk4000kynyyy82ec,33,30-34,Feminino,Parda,0,1,Pernambuco (PE),PE,Nordeste,...,Servidor Público,Setor Público,Acima de 3.000,Analista de Dados/Data Analyst,Pleno,de R$ 8.001/mês a R$ 12.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,0,0
91,0kz3y2ky2wx4fmkhadp0kz3y8y7jrl32,23,22-24,Masculino,Parda,0,1,Rio de Janeiro (RJ),RJ,Sudeste,...,Empregado (CLT),Tecnologia/Fábrica de Software,de 11 a 50,Analista de Dados/Data Analyst,Pleno,de R$ 3.001/mês a R$ 4.000/mês,de 1 a 2 anos,de 3 a 4 anos,0,0
92,0lv0ldegkx1i8xxmet0lvfewlljsvem0,27,25-29,Masculino,Parda,0,1,Goiás (GO),GO,Centro-oeste,...,Empregado (CLT),Área de Consultoria,Acima de 3.000,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 4.001/mês a R$ 6.000/mês,de 1 a 2 anos,Menos de 1 ano,0,0
94,0m9ykattn3c24ri42vxg0m9ykam9lb6n,34,30-34,Masculino,Amarela,0,1,São Paulo (SP),SP,Sudeste,...,Empregado (CLT),Área da Saúde,Acima de 3.000,Analista de Dados/Data Analyst,Sênior,de R$ 8.001/mês a R$ 12.000/mês,de 5 a 6 anos,Não tive experiência na área de TI/Engenharia ...,0,1

# Base Finalizada

In [96]:
df

,Id,Idade,Faixa idade,Gênero,Cor/raca/etnia,PCD,Vive no Brasil,Estado onde mora,UF onde mora,Região onde Mora,...,Qual sua situação atual de trabalho?,Setor,Numero de Funcionários,Cargo Atual,Nível,Faixa salarial,Quanto tempo de experiência na área de dados você tem?,Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?,Qual o número aproximado de pessoas que atuam com dados na sua empresa hoje?,Existe faculdade no Estado
0,001b2d1qtli8t9z7oqgdhj001b2d4i0g,31,30-34,Masculino,Branca,0,1,Minas Gerais (MG),MG,Sudeste,...,Empregado (CLT),Finanças ou Bancos,Acima de 3.000,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,0,1
1,0026aa3fwd78u0026asg7456tfkjg2cs,30,30-34,Masculino,Branca,0,1,Espírito Santo (ES),ES,Sudeste,...,Empreendedor ou Empregado (CNPJ),Finanças ou Bancos,de 101 a 500,Analista de BI/BI Analyst,Pleno,de R$ 6.001/mês a R$ 8.000/mês,de 3 a 4 anos,de 3 a 4 anos,0,0
2,00r21rb9pusd1b0v7ew00r21rw3dy69w,37,35-39,Feminino,Amarela,0,1,São Paulo (SP),SP,Sudeste,...,Empregado (CLT),Finanças ou Bancos,Acima de 3.000,Analista de Dados/Data Analyst,Júnior,de R$ 6.001/mês a R$ 8.000/mês,de 1 a 2 anos,Menos de 1 ano,0,1
4,00v0az4g792svil00vn6y1kfm9hq8vy9,34,30-34,Masculino,Branca,0,1,Minas Gerais (MG),MG,Sudeste,...,Empreendedor ou Empregado (CNPJ),Outra Opção,de 101 a 500,Analista de Dados/Data Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês,Menos de 1 ano,Menos de 1 ano,0,1
5,015qqbrh4rr015qje9gvkbsb7ti1n5df,30,30-34,Masculino,Branca,0,1,Rio de Janeiro (RJ),RJ,Sudeste,...,Empreendedor ou Empregado (CNPJ),Tecnologia/Fábrica de Software,de 51 a 100,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 8.001/mês a R$ 12.000/mês,de 1 a 2 anos,Não tive experiência na área de TI/Engenharia ...,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5279,zwm2c16e32000c6iaswzwm2c1jv6swo0,36,35-39,Feminino,Parda,0,1,São Paulo (SP),SP,Sudeste,...,Empregado (CLT),Área da Saúde,de 101 a 500,Analista de Dados/Data Analyst,Pleno,de R$ 6.001/mês a R$ 8.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,0,1
5281,zws1zie6ro3he9ln337yufzws1zyj7nw,23,22-24,Masculino,Parda,0,1,Goiás (GO),GO,Centro-oeste,...,Empregado (CLT),Varejo,de 51 a 100,Analista de Dados/Data Analyst,Júnior,de R$ 3.001/mês a R$ 4.000/mês,Menos de 1 ano,de 3 a 4 anos,0,0
5285,zxvrsh0xk8z95k76e63zxvrshjgyigq0,27,25-29,Feminino,Parda,0,1,Espírito Santo (ES),ES,Sudeste,...,Empregado (CLT),Varejo,Acima de 3.000,Data Product Manager/ Product Manager (PM/APM/...,Pleno,de R$ 8.001/mês a R$ 12.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,0,0
5287,zy7hsey7pigk6d4a4zy7hsm7bh1vcozc,28,25-29,Masculino,Branca,0,1,São Paulo (SP),SP,Sudeste,...,Empregado (CLT),Finanças ou Bancos,de 501 a 1.000,Cientista de Dados/Data Scientist,Júnior,de R$ 8.001/mês a R$ 12.000/mês,de 1 a 2 anos,Não tive experiência na área de TI/Engenharia ...,0,1
5289,zyppgxzxko25qkgwsbrgpzyppgxzxs81,32,30-34,Masculino,Branca,0,1,Rio Grande do Norte (RN),RN,Nordeste,...,Empregado (CLT),Outra Opção,Acima de 3.000,Engenheiro de Machine Learning/ML Engineer/AI ...,Pleno,de R$ 8.001/mês a R$ 12.000/mês,de 4 a 6 anos,Não tive experiência na área de TI/Engenharia ...,0,0

## Verificando novamente os nulos

In [97]:
for col in df.columns:
  nulos = df[col].isnull().sum()
  print(f'A coluna {col} tem {nulos} nulos')

A coluna Id tem 0 nulos
A coluna Idade tem 0 nulos
A coluna Faixa idade tem 0 nulos
A coluna Gênero tem 0 nulos
A coluna Cor/raca/etnia tem 0 nulos
A coluna PCD tem 0 nulos
A coluna Vive no Brasil tem 0 nulos
A coluna Estado onde mora tem 0 nulos
A coluna UF onde mora tem 0 nulos
A coluna Região onde Mora tem 0 nulos
A coluna Nível de Ensino tem 0 nulos
A coluna Área de Formação tem 0 nulos
A coluna Qual sua situação atual de trabalho? tem 0 nulos
A coluna Setor tem 0 nulos
A coluna Numero de Funcionários tem 0 nulos
A coluna Cargo Atual tem 0 nulos
A coluna Nível tem 0 nulos
A coluna Faixa salarial tem 0 nulos
A coluna Quanto tempo de experiência na área de dados você tem? tem 0 nulos
A coluna Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados? tem 0 nulos
A coluna Qual o número aproximado de pessoas que atuam com dados na sua empresa hoje? tem 0 nulos
A coluna Existe faculdade no Estado tem 0 nulos

## Verificando a mudança nos tipos

In [98]:
df.dtypes

Id                                                                                                                           object
Idade                                                                                                                         int64
Faixa idade                                                                                                                  object
Gênero                                                                                                                       object
Cor/raca/etnia                                                                                                               object
PCD                                                                                                                           int64
Vive no Brasil                                                                                                                int64
Estado onde mora                                                                                                             object
UF onde mora                                                                                                                 object
Região onde Mora                                                                                                             object
Nível de Ensino                                                                                                              object
Área de Formação                                                                                                             object
Qual sua situação atual de trabalho?                                                                                         object
Setor                                                                                                                        object
Numero de Funcionários                                                                                                       object
Cargo Atual                                                                                                                  object
Nível                                                                                                                        object
Faixa salarial                                                                                                               object
Quanto tempo de experiência na área de dados você tem?                                                                       object
Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?    object
Qual o número aproximado de pessoas que atuam com dados na sua empresa hoje?                                                 object
Existe faculdade no Estado                                                                                                    int64
dtype: object

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2907 entries, 0 to 5289
Data columns (total 22 columns):
 #   Column                                                                                                                     Non-Null Count  Dtype
---  ------                                                                                                                     --------------  -----
 0   Id                                                                                                                         2907 non-null   object
 1   Idade                                                                                                                      2907 non-null   int64
 2   Faixa idade                                                                                                                2907 non-null   object
 3   Gênero                                                                                                                     2907 non-null   object
 4   Cor/raca/etnia                                                                                                             2907 non-null   object
 5   PCD                                                                                                                        2907 non-null   int64
 6   Vive no Brasil                                                                                                             2907 non-null   int64
 7   Estado onde mora                                                                                                           2907 non-null   object
 8   UF onde mora                                                                                                               2907 non-null   object
 9   Região onde Mora                                                                                                           2907 non-null   object
 10  Nível de Ensino                                                                                                            2907 non-null   object
 11  Área de Formação                                                                                                           2907 non-null   object
 12  Qual sua situação atual de trabalho?                                                                                       2907 non-null   object
 13  Setor                                                                                                                      2907 non-null   object
 14  Numero de Funcionários                                                                                                     2907 non-null   object
 15  Cargo Atual                                                                                                                2907 non-null   object
 16  Nível                                                                                                                      2907 non-null   object
 17  Faixa salarial                                                                                                             2907 non-null   object
 18  Quanto tempo de experiência na área de dados você tem?                                                                     2907 non-null   object
 19  Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?  2907 non-null   object
 20  Qual o número aproximado de pessoas que atuam com dados na sua empresa hoje?                                               2907 non-null   object
 21  Existe faculdade no Estado                                                                                                 2907 non-null   int64
dtypes: int64(4), object(18)
memory usage: 522.4+ KB